@media (max-width: $dasktop){
    .margin__top{
        height: 80px;
    }
    header{
       
        .logo{
            img{
                width: 50px;
            }
            h2{
                font-size: 26px;
            }
        }
    
        .header__nav{
        
            ul{
                li{
                    font-size: 18px;
                 }   
            }
        }
        .header__right__menu{
            .lang{
                width: 30px;
                height: 30px;
                li{
                    font-size: 14px;  
                }
                .hidden__lang{
                   padding: 5px 10px;
                   left: -10px;
                
                }
            }
        }
    }
   
}

@media only screen and(max-width: $ipadePro){
    header{
        .logo{
            img{
                width: 40px;
            }
            h2{
                font-size: 22px;
            }
        }
    
        .header__nav{
        
            ul{
                li{
                    font-size: 14px;
                 }   
                 li + li{
                    margin-left: 30px;
                }
            }
        }
        .header__right__menu{
            .lang{
                margin-right: 10px;
                li{
                    font-size: 14px;  
                }
                .hidden__lang{
                   padding: 5px 10px;
                   left: -10px;
                
                }
            }
        }
        .auth{
            a{
                font-size: 14px;
            }
        }
        
    }
}

@media  only screen and(max-width: $ipade){
    header{
        .logo{
            img{
                width: 40px;
            }
            h2{
                font-size: 22px;
            }
        }
    
        .header__nav{
        
            ul{
                li{
                    font-size: 14px;
                 }   
                 li + li{
                    margin-left: 15px;
                }
            }
        }
        .header__right__menu{
            .lang{
            
                li{
                    font-size: 14px;  
                }
                .hidden__lang{
                   padding: 5px 10px;
                   left: -10px;
                
                }
            }
        }
       
    }
}

@media only screen and(max-width: $mobile){
    .wrapper{
        padding: 0px 10px;

        .margin__top{
            height: 80px;
            display: none;
        }
    }
    header{
        position: relative;
        padding: 0px;
        .header__nav{
            position: absolute;
            width: 100%;
            top: 100px;
            right: 0;
            background-color: $color-1;
            padding:0 20px;
            transform-origin: top;
            transform: scaleY(0);
            transition: .9s;
            z-index: 100;
            ul{
                flex-direction: column;
                align-items: flex-end;
                width: 100%;
                

                li {
                    
                    font-size: 25px;

                   a{
                    color: $white;
                   }
                    

                }
                li + li {
                    margin-left: 0;
                    margin-top: 10px;
                }
            }
        }
        .header__right__menu{
            width: 100%;
            position: absolute;
            right: 0;
            top: 50px;
            padding-top: 10px;
            background-color: $color-1;
            padding:  20px;
            justify-content: space-between;
            transform-origin: top;
            transform: scaleY(0);
            transition: .3s;
            z-index: 100;
            .lang{
                li{
                    color: $white;
                }
                .hidden__lang{
                    li{
                        color: $color-1;
                    }
                }
            }
        }
       .burger{
           width: 20px;
           height: 20px;
           cursor: pointer;
           display: block;
           svg{
               path{
                fill: $main-color;
               }
           }
       }
       .activeMenu{
           transform: scaleY(1);
       }
    }
}
