@import './var';
@import './header.media';
@import './courses.media';
@import './order.media';
@import './content.media';



@media (max-width: $dasktop){
    .margin__top{
        height: 80px;
    }   
}

@media only screen and(max-width: $ipadePro){

}

@media  only screen and(max-width: $ipade){

}

@media only screen and(max-width: $mobile){
    .wrapper{
        padding: 0px 10px;

        .margin__top{
            height: 80px;
            display: none;
        }
    }
}


