@font-face{
    font-family: Heebo;
    src: url(../fonts/Heebo-Bold.ttf)
         url(../fonts/Heebo-Regular.ttf);
}

// Fonts
$font: Heebo, sans-serif;

// Colors

$white: #ffffff;
$main-color: #49AC45;
$color-1: #455A64;
$color-2: #EC8E00;
$color-btn: #66CC33;


