@import './var';

.swiper-container{
  width: 100%;
  height: calc(100% - 120px);

}

.swiper-slide {
    width: 100%;
    height: 100%;
  
}
.swiper-pagination-bullet{
    width: 10px;
    height: 10px;
    background-color: $color-1;
    transition: .3s;
}
.swiper-pagination-bullet-active{

    background-color: $color-1;
 
}
.inset__swiper-container{
    width: 100%;
    height: 100%;
    position: relative;
    .swiper-button-next{
       right: 50px;
    }
    .swiper-button-prev{
       left: 50px;

    }
    .swiper-pagination{
        .swiper-pagination-bullet{
            width: 100px;
            height: 9px;
            border-radius: 0;
        }
    }
}

@media (max-width: 1440px) {
    .swiper-container{
       
        height: calc(100% - 80px);
      
      }
}
@media (max-width: 480px) {
    .swiper-container{
        .swiper-pagination{
            display: none;
        }
        .swiper-button-next{
            display: none;
         }
         .swiper-button-prev{
            display: none;
     
         }
      
      
      
    }
    .inset__swiper-container{
  
     
        .swiper-pagination{
            display: block;
            .swiper-pagination-bullet{
                
                width: 20px;
                height: 3px;
                border-radius: 0;
            }
        }
    }
}